body{
    margin: 0;
    padding: 0;
    background-color: #090D2E;
}
.container{
    max-width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}
.title{
    color: white;
    font-size: 32px;
    margin: 0 auto;
    max-width: 150px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.input{
    padding: 10px 0 10px 20px;
    border-radius: 16px;
    max-width: 200px;
    margin: 10px auto 20px;
}
.button{
    color: black;
    margin: 0 auto;
    border-radius: 8px;
    background-color: lightblue;
    max-width: 200px;
    width: 100%;
    border: none;
}
.tmpl{
    color: white;
}
.bondsTable{
    display: block;
    color: white;
    width: 100%;
}
.bodyTdCount{
    /*padding-left: 15px;*/
}

.thValue{
    /*padding-left: 20px;*/
}

.bodyTdValue{
    /*padding-left: 20px;*/
}
.yearTd{
    padding: 0 20px;
    width: 60px;
}
.bodyTrTdValue{
    /*width: 40px;*/
}
.table-responsive{
    margin: 0 auto;
    max-width: 800px;
    overflow-x: auto;
}
table{
    width: 100%;
}
td table,th table{
    table-layout: fixed;
}
.bodyTrTdValue{
    padding: 0 20px;
    text-align: center;
}