.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-item {
    border: none;
    padding: 10px 0 10px 20px;
    border-radius: 16px;
    margin: 10px auto 20px;
}

.error-message_register {
    margin: 0 auto;
    width: 180px;
    font-size: 10px;
    color: red;
}
